<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--================游戏服务配置========================-->
	<!--登录地址-->
	<LoginAddress>27.131.221.121</LoginAddress>
	<!--登录端口-->
	<LoginPort>8080</LoginPort>
	<!--登录端口序列-->
	<LoginPorts>443,8084</LoginPorts>
	<!--Http地址-->
	<HttpAddress>http://172.16.7.132:8080/sglm-webserver/request</HttpAddress>
</config>
