<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmgp.sgmmd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tencent.tmgp.sgmmd.SDKActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:screenOrientation="landscape"
	    android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.tencent.sample.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 应用吧 -->
        <activity
            android:name="com.tencent.open.yyb.AppbarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tmgp.yttx.ReturnActivity"
            android:label="@string/title_activity_return"
            android:screenOrientation="landscape"
        >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent222222" />
 				<!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <!-- 微云 -->
        <activity
            android:name=".weiyun.OperationSelectActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".weiyun.FileListActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".weiyun.WeiyunMainActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".weiyun.RecordList"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".weiyun.RecordOperationActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tencent.sample.DataProviderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tencent222222.data" />
            </intent-filter>
        </activity>

        <!-- zivon add start -->
        <activity
            android:name=".activitys.AccountInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.QQShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.QZoneShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.QzonePicturesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"/>
        <!-- zivon add end -->


        <!-- stev add start -->

        <activity
            android:name=".activitys.WPAActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.OtherApiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.TQQInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.SocialApiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.SocialAppbarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activitys.AvatarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"/>
        
        <activity
            android:name=".activitys.QQGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activitys.GameLogicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- stev add end -->
        
         <activity
            android:name="com.feidou.tencentsdk.util.UrlShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.feidou.tencentsdk.util.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.feidou.tencentsdk.util.PayRequestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
         
        
        
        
        <!-- 请将value改为MTA分配的appkey < -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="ACR76WS35WPQ" />
        <meta-data
            android:name="InstallChannel"
            android:value="feidou" />
			
			<!-- 【必须】 信鸽receiver广播接收 -->
    <receiver
        android:name="com.tencent.android.tpush.XGPushReceiver"
        android:process=":xg_service_v2" >
        <intent-filter android:priority="0x7fffffff" >
            <!-- 【必须】 信鸽SDK的内部广播 -->
            <action android:name="com.tencent.android.tpush.action.SDK" />
            <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
            <!-- 【必须】 系统广播：开屏和网络切换 -->
            <action android:name="android.intent.action.USER_PRESENT" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            
            <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
        </intent-filter>
        <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
        <intent-filter android:priority="0x7fffffff" >
            <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            <action android:name="android.intent.action.MEDIA_REMOVED" />
            <action android:name="android.intent.action.MEDIA_CHECKING" />
            <action android:name="android.intent.action.MEDIA_EJECT" />
            <data android:scheme="file" />
        </intent-filter>
    </receiver>

    <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
    <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
     <activity
         android:name="com.tencent.android.tpush.XGPushActivity"
         android:exported="false" >
         <intent-filter>
            <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
             <action android:name="" />
         </intent-filter>
    </activity>

    <!-- 【必须】 信鸽service -->
    <service
        android:name="com.tencent.android.tpush.service.XGPushService"
        android:exported="true"
        android:persistent="true"
        android:process=":xg_service_v2" />
 
    <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
    <service
        android:name="com.tencent.android.tpush.rpc.XGRemoteService"
        android:exported="true" >
        <intent-filter>
            <action android:name="应用包名.PUSH_ACTION" />
        </intent-filter>
    </service>

    <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
    <meta-data 
        android:name="XG_V2_ACCESS_ID"
        android:value="2100051979" />
    <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
    <meta-data 
        android:name="XG_V2_ACCESS_KEY" 
        android:value="AT3573TR1RWI" />
    </application>
    <!--  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />
	
	<!-- 【必须】 信鸽SDK所需权限 -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.RESTART_PACKAGES" />
<uses-permission android:name="android.permission.BROADCAST_STICKY" />
<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
<uses-permission android:name="android.permission.READ_LOGS" />
<uses-permission android:name="android.permission.VIBRATE" />
</manifest>