<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>faf2f1d8813c5e2f17128cad8bb5250d</string>
	<key>device</key>
	<string>ios</string>
	<key>sdktitle</key>
	<string>1.01</string>
	<key>sdkversion</key>
	<string>FeiDou_SDK</string>
	<key>deviceidfa</key>
	<string>123</string>
	<key>platform</key>
	<string>ios</string>
	<key>currency</key>
	<string>CNY</string>
	<key>products</key>
	<array>
		<dict>
			<key>ProductID_IAP_1</key>
			<string>sglmwin.yb60</string>
		</dict>
		<dict>
			<key>ProductID_IAP_2</key>
			<string>sglmwin.yb510</string>
		</dict>
		<dict>
			<key>ProductID_IAP_3</key>
			<string>sglmwin.yb1928</string>
		</dict>
		<dict>
			<key>ProductID_IAP_4</key>
			<string>sglmwin.yb3188</string>
		</dict>
		<dict>
			<key>ProductID_IAP_5</key>
			<string>sglmwin.yb6868</string>
		</dict>
	</array>
	<key>golds</key>
	<array>
		<string>60</string>
		<string>510</string>
		<string>1928</string>
		<string>3188</string>
		<string>6868</string>
	</array>
	<key>prices</key>
	<array>
		<string>0.99</string>
		<string>7.99</string>
		<string>27.99</string>
		<string>47.99</string>
		<string>99.99</string>
	</array>
	<key>productsPlatform</key>
	<array>
		<dict>
			<key>1开心币兑换礼包</key>
			<string>1CNY</string>
		</dict>
		<dict>
			<key>10开心币兑换礼包</key>
			<string>2CNY</string>
		</dict>
		<dict>
			<key>20开心币兑换礼包</key>
			<string>3CNY</string>
		</dict>
		<dict>
			<key>30开心币兑换礼包</key>
			<string>4CNY</string>
		</dict>
		<dict>
			<key>40开心币兑换礼包</key>
			<string>5CNY</string>
		</dict>
	</array>
</dict>
</plist>
