<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>faf2f1d8813c5e2f17128cad8bb5250d</string>
	<key>device</key>
	<string>ios</string>
	<key>sdktitle</key>
	<string>1.01</string>
	<key>sdkversion</key>
	<string>FeiDou_SDK</string>
	<key>deviceidfa</key>
	<string>123</string>
	<key>platform</key>
	<string>ios</string>
	<key>currency</key>
	<string>CNY</string>
	<key>prices</key>
	<array>
			<string>0.99</string>
			<string>7.99</string>
	</array>
	<key>products</key>
	<array>
		<dict>
			<key>ProductID_IAP_1</key>
			<string>kxsgtest.jinbi60</string>
		</dict>
		<dict>
			<key>ProductID_IAP_2</key>
			<string>kxsgtest.jinbi510</string>
		</dict>
	</array>
</dict>
</plist>
